Source: f-spot
Section: gnome
Priority: optional
Maintainer: Debian CLI Applications Team <pkg-cli-apps-team@lists.alioth.debian.org>
Uploaders: Mirco Bauer <meebey@debian.org>, Iain Lane <laney@debian.org>
Build-Depends: debhelper (>= 9),
 cli-common-dev (>= 0.8.0),
 quilt (>= 0.46-7~),
 mono-devel (>= 2.4.3),
 libgtk2.0-dev (>= 2.14),
 libgtk2.0-cil-dev (>= 2.12.2),
 gtk-sharp2-gapi,
 libgnome2-dev (>= 2.2),
 libcairo2-dev (>= 1.4.0),
 libmono-addins-cil-dev (>= 0.4),
 libmono-addins-gui-cil-dev (>= 0.4),
 libdbus2.0-cil-dev,
 libdbus-glib2.0-cil-dev,
# libndesk-dbus1.0-cil-dev (>= 0.4.2),
# libndesk-dbus-glib1.0-cil-dev (>= 0.3.0),
 libgnome2.0-cil-dev (>= 2.8),
 libgconf2.0-cil-dev (>= 2.20.2),
 libgnome-vfs2.0-cil-dev (>= 2.20.2),
# libflickrnet-cil-dev,
 libgnome-keyring1.0-cil-dev,
 liblcms2-dev,
 libgnomeui-dev (>= 2.2),
 libexif-dev (>= 0.5.7),
 libexif-dev (<< 0.7.0),
 libjpeg-dev,
 libunique-dev,
 intltool (>= 0.35.0),
 gnome-doc-utils (>= 0.17.3),
 gnome-icon-theme,
 dh-autoreconf,
 libgtk-sharp-beans2.0-cil-dev,
 libgio2.0-cil-dev,
 libmono-posix4.0-cil,
 nunit,
Standards-Version: 3.9.6
Homepage: http://www.f-spot.org/
Vcs-Git: git://git.debian.org/git/pkg-cli-apps/packages/f-spot.git
Vcs-Browser: http://git.debian.org/?p=pkg-cli-apps/packages/f-spot.git

Package: f-spot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}, dbus, gvfs-bin
Recommends: dcraw, dbus-x11
Description: personal photo management application
 F-Spot is a full-featured personal photo management application for the
 GNOME desktop. It simplifies digital photography by providing intuitive
 tools to help you share, touch-up, find and organize your images.
 It allows for importing of your existing photo collections, tagging photos
 with identifiers, as well as doing simple edits of photos (e.g. rotating).
